body {
    width: 100%;
    height: 800vh;
}

.nav {
    width: 100%;
    height: 100vh;
}

nav {
    width: 20%;
    height: 100%;
    background-color: blue;
    position: relative;
}


nav > a {
    margin-left: 50px;
    position: absolute;
    top: 50px;
    left: 0;
}

nav > a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


nav ul {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    width: 62%;
    height: 11%;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

nav ul li a p {
    display: inline-block;
    margin-left: 40px;
}

nav ul li a i {
    display: inline-block;
}

nav ul .active {
    position: absolute;
    top: 2.4%;
    left: 0;
    width: 70%;
    height: 15%;
    background-color: white;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: top 0.5s;
}

nav ul li:hover ~ .active {
    opacity: 1;
}

nav ul li:first-of-type:hover ~ .active {
    top: 2.4%;
}

nav ul li:first-of-type:hover a {
    color: blue;
}

nav ul li:nth-of-type(2):hover a {
    color: blue;
}

nav ul li:nth-of-type(2):hover~.active {
    top: 22.4%;
}

nav ul li:nth-of-type(3):hover a {
    color: blue;
}

nav ul li:nth-of-type(3):hover~.active {
    top: 42.4%;
}

nav ul li:nth-of-type(4):hover a {
    color: blue;
}

nav ul li:nth-of-type(4):hover~.active {
    top: 62.4%;
}

nav ul li:nth-of-type(5):hover a {
    color: blue;
}

nav ul li:nth-of-type(5):hover + .active {
    top: 82.4%;
}

@media only screen and (max-width: 600px){
    nav > a img {
        width: 90px;
        height: 90px;
    }
    nav > a {
        margin: 0;
    }
    nav ul li {
        height: 20%;
    }
    nav ul li a p {
        display: none;
    }
    nav ul {
        left: 15px;
        height: 50%;
        padding: 0;
    }
    nav ul .active {
        width: 100%;
        margin-left: -16px;
    }
    nav ul li:first-of-type:hover ~ .active {
        top: -3.6%;
        transition: 0s;
    }
    nav ul li:nth-of-type(2):hover~.active {
        top: 16.4%;
    }
    nav ul li:nth-of-type(3):hover~.active {
        top: 36.4%;
    }
    nav ul li:nth-of-type(4):hover~.active {
        top: 56.4%;
    }
    nav ul li:nth-of-type(5):hover + .active {
        top: 76.4%;
    }
}














.yes {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 100px;
    transform: skew(30deg);
    color: blue;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transition: 0.3s;
    transform: rotate3d(1, 1, 2, 680deg) skew(30deg);
} 

.contain:nth-of-type(3) i {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 100px;
    transform: skew(30deg);
    color: red;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transition: 0.3s;
    transform: rotate3d(1, 1, 2, 680deg) skew(30deg);
}

.contain {
    margin-left: 500px;
    width: 90%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 145.25px 1fr;
}

span.circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 100px;
    transform: skew(30deg);
    color: transparent;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transition: 0.3s;
    transform: rotate3d(1, 1, 2, 680deg) skew(30deg);
    z-index: 7;
}

.fa-brands:nth-of-type(2) {
    margin-top: 10px;
    z-index: 0;
    opacity: 0;
}

.fa-brands:nth-of-type(3) {
    margin-top: 20px;
    z-index: 1;
    opacity: 0;
}

.fa-brands:nth-of-type(4) {
    margin-top: 30px;
    z-index: 2;
    opacity: 0;
}

.fa-brands:nth-of-type(5) {
    margin-top: 40px;
    z-index: 4;
    opacity: 0;
}


span:hover + .fa-brands {
     transform: translateY(-5px) rotate3d(1, 1, 2, 680deg) skew(30deg);
}

span:hover + .fa-brands + .fa-brands {
    transform: translateY(-5px) rotate3d(1, 1, 2, 680deg) skew(30deg);
    opacity: 0.4;
}

span:hover + .fa-brands + .fa-brands + .fa-brands {
    transform: translateY(-5px) rotate3d(1, 1, 2, 680deg) skew(30deg);
    opacity: 0.3;
}

span:hover + .fa-brands + .fa-brands + .fa-brands + .fa-brands {
    transform: translateY(-5px) rotate3d(1, 1, 2, 680deg) skew(30deg);
    opacity: 0.2;
}

.contain-2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.contain-2 p {
    font-size: 300px;
    font-weight: bolder;
    -webkit-text-stroke: 5px blue;
    color: transparent;
    background-image: url(../التكليفات/number-1/290835665_438117994875352_3537948108521218180_n.jpg);
    -webkit-background-clip: text;
    animation: back 15s linear infinite;
    background-position: 0 0;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

section {
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(62, 55, 55 ,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}


.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordian-item {
    background-color: #4300;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.2)
    , -0.5rem -2px 0.5rem rgba(0, 0, 0, 0.2);
}

.accordian-item .link {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color: #4300;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.accordian-item .link a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 2px;
}

.accordian-item .link i {
    color: #e7d5ff;
    padding: 0.5rem;
}

#none {
    display: none;
}

.answer {
   max-height: 0;
   overflow: hidden;
   position: relative;
   background-color: #212838;
   transition: max-height 700ms;
}

.answer::before {
    content: "";
    width: 0.6rem;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: cyan;
}

.answer p {
    font-size: 1.4rem;
    color: white;
    padding: 2rem;
}

.accordian-item:target .answer {
    max-height: 20rem;
}

.accordian-item:target #yes {
    display: none;
}

.accordian-item:target #none {
    display: block;
}

.contain-4 {
    max-width: 100%;
    max-height: 50vh;
    height: 50vh;
    background-color: #e3edf7b3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contain-4 p {
    font-size: 3rem;
    font-weight: bold;
    margin: -100px 0 170px;
    letter-spacing: 5px;
}

.contain-4 input {
    position: relative;
    width: 0;
}

.contain-4 input::before {
    content: "\f011";
    font-family: "FontAwesome";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    background-color: #e3edf7b3;
    transform: translate(-50% , -50%);
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2) ,
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7) , 
                0.5px 0.5px 0px rgba(255, 255, 255, 1) , 
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
    color: #ff0000ad;
    transition: all 200ms;
}



.contain-4 input:checked::before {
   color: #4fce5d;
   box-shadow: 4px 4px 6px -1px rgb(0 0 0 / 20%) ,
               -3px -3px 12px 0px rgb(255 255 255 / 70%) ,
               0.5px 0.5px 0px rgb(255 255 255) ,
               2.5px 2.5px 18px -12px rgb(0 0 0 / 15%);
}

@media screenshout {
    body {
        display: none;
    }
}

.container-four {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs {
    width: 2000px;
    background-color: #ddd;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds {
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    height: 70px;
    background-color: #fff;
    border-radius: 100px;
}

.ds .icond {
    width: 70px;
    height: 70px;
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds .icond i[class="fa-brands fa-facebook-f"] {
    color: #1877f2;
}

.ds .icond i[class="fa-brands fa-twitter"] {
    color: #2aa9e0;
}

.ds .icond i[class="fa-brands fa-youtube"] {
    color: #ff0000;
}

.ds .icond i[class="fa-brands fa-github"] {
    color: #161b22;
}

.ds .icond i[class="fa-brands fa-telegram"] {
    color: #23a0dc;
}

.ds span {
    font-size: 3rem;
    margin: 0 20px;
    display: none;
}

.ds:hover:first-of-type div + span {
    display: block;
    color: #1877f2;
}

.ds:first-of-type:hover .icond {
    background-color: #1877f2;
    transition: 0.3s;
    transform: rotatez(-45deg);
    transition: transform 0.5s;
}

.ds:first-of-type:hover .icond i {
    color: #fff;
    transition: 0.3s;
}

.ds:hover:nth-of-type(2) div + span {
    display: block;
    color: #2aa9e0;
}

.ds:nth-of-type(2):hover .icond {
    background-color: #2aa9e0;
    transition: 0.3s;
    transform: rotatez(-45deg);
    transition: transform 0.5s;
}

.ds:nth-of-type(2):hover .icond i {
    color: #fff;
    transition: 0.3s;
}

.ds:hover:nth-of-type(3) div + span {
    display: block;
    color: #ff0000;
}

.ds:nth-of-type(3):hover .icond {
    background-color: #ff0000;
    transition: 0.3s;
    transform: rotatez(-45deg);
    transition: transform 0.5s;
}

.ds:nth-of-type(3):hover .icond i {
    color: #fff;
    transition: 0.3s;
}

.ds:hover:nth-of-type(4) div + span {
    display: block;
    color: #161b22;
}

.ds:nth-of-type(4):hover .icond {
    background-color: #161b22;
    transition: 0.3s;
    transform: rotatez(-45deg);
    transition: transform 0.5s;
}

.ds:nth-of-type(4):hover .icond i {
    color: #fff;
    transition: 0.3s;
}

.ds:hover:nth-of-type(5) div + span {
    display: block;
    color: #23a0dc;
}

.ds:nth-of-type(5):hover .icond {
    background-color: #23a0dc;
    transition: 0.3s;
    transform: rotatez(-45deg);
    transition: transform 1s;
}

.ds:nth-of-type(5):hover .icond i {
    color: #fff;
    transition: 0.3s;
}